.binary {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 85px;
  border-radius: 30px;
}
.binary input {
  width: 250px;
  height: 20px;
  font-size: 16px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-bottom: 25px;
}
.binary button {
  min-width: 95px;
  max-width: 95px;
}
.buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
}
@media (max-width: 990px) {
  .binary input {
    margin-left: 0px;
  }
}
