.integerFormContainer {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
}

.integerFormContainer input,
select {
  width: 250px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 2px;
  font-size: 16px;
}
.inputField {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px; /* Add margin bottom for spacing */
}

.error {
  color: white;
  font-size: 16px;
  margin-top: 5px;
}

.inputError {
  border-color: red;
}
.integerFormContainer select {
  height: 30px;
}
.integerFormContainer button {
  font-size: 20px;
  cursor: pointer;
  width: 110px;
  height: 40px;
  margin-top: 15px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 15px;
  transition: 0.5s;
  text-decoration: none;
  margin-right: 15px;
}
.integerFormContainer button:hover {
  background-color: white;
  color: black;
}
