.sequenceContainer {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  margin-top: 50px;
  max-width: 100%;
  flex-wrap: wrap;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
}
.sequenceContainer button {
  min-width: 95px;
}
.mainSequence {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  justify-content: center;
  padding: 15px;
}
.sequenceContainer label {
  color: white;
  font-size: 22px;
}
.sequenceContainer input {
  width: 250px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 2px;
  font-size: 16px;
}
.sequenceContainer button {
  text-align: center;
  font-size: 18px;
}
.sequenceContainer button a {
  text-decoration: none;
  color: white;
}

.buttonContainer {
  display: flex;
  gap: 5px;
}

@media (max-width: 990px) {
  .sequenceContainer input {
    width: 200px;
    padding-left: 0px;
  }
}
