.header {
  display: flex;
  text-align: center;
  margin-top: 120px;
}
.headerText {
  margin-right: 15px;
}
.dagContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
@media (max-width: 990px) {
  .headerText {
    font-size: 40px;
  }
}
