.dag {
  border: 2px solid white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;

  padding: 60px;
}
.header {
  text-align: center;
}
.dagInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%s;
  padding-left: 35px;
}
.buttons {
  display: flex;
  gap: 20px;
  padding-left: 25px;
}
.dagInputs input {
  width: 250px;
  height: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid white;
  padding: 2px;
  font-size: 16px;
  margin-top: 15px;
}

.dag button {
  min-width: 90px;
  max-width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}
.dag a {
  text-decoration: none;
}
@media (max-width: 990px) {
  .dag {
    padding-left: 0px;
    align-items: center;
  }
}
