body {
  /* background-color: #242424; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(54, 54, 62, 1) 46%,
    rgba(123, 145, 149, 1) 100%
  );
}
input,
select {
  color: black;
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
  padding-left: 7px;
  padding-right: 7px;
}
.header {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.header h1 {
  font-size: 46px;
}
.headerText {
  text-align: center;
  margin-right: 10px;
  margin-bottom: 50px;
}

.buttonContaienr {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}
.buttonContaienr a {
  padding: 8px;
}

@media (max-width: 990px) {
  .buttonContaienr {
    flex-direction: column;
  }
  .header {
    margin-top: 40px;
  }
  .header h1 {
    font-size: 36px;
  }
}
